
$primary: #cfb87c;
$secondary: $black;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$body-color: $black;
$link-color: $blue;
$font-family-sans-serif: Roboto, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$breadcrumb-bg: null;