
/* ---------- Amatic SC, Josefin Sans ---------- */

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    }
h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
}
body, p, li, a {
    font-family: 'Josefin Sans', sans-serif;
  }
