
/* ---------- Lato, Grand Hotel ---------- */

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    }
h3, h4, h5, h6 {
    font-family: 'Grand Hotel', cursive;
    font-weight: normal;
    }
body, p, a, li {
    font-family: 'Lato', sans-serif;
    }
