/**
 * @file
 * Visual styles for Bootstrap Barrio's forms.
 */

/* Password field. */
.password-field {
  margin: 0;
}

/* Form elements. */
form {
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 1em 0;
}

/* Node Form */

/* Contact Form */

/* Comment form */
