/**
 * @file
 * Visual styles for Bartik's main-content component.
 */

.main-content .section {
  padding: 0 15px;
}
.main-content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
